# ===================== service oquiz API ================

# oquiz-db
POSTGRES_USER=oquiz
POSTGRES_PASSWORD=oquiz
POSTGRES_DB=oquiz

POSTGRES_PORT=5434

# oquiz-api
API_LOCAL_PORT=3000
API_LOGS_PATH=logs

# oquiz-client
CLIENT_LOCAL_PORT=3001


# ===================== service oquiz LOGS ================

# Logs api
LOGS_API_LOCAL_PORT=3002

# Logs DB
LOGS_DB_LOCAL_PORT=27018
LOGS_API_DATABASE_URL=mongodb://logs-db:27017/logs_db